

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

h1 {font-size:100px;
	font-family:Helvetica, thin;
}

h2 {font-size:30px;
	font-family:Helvetica;
}



body {
	padding:80px;	
	width:1000px;
	position: relative;
}

ul {padding:10px;	
		width:500px;
		position: relative;
	}
	.col
	{
	    float: left;
	    width: 20%;
	    font-size: 24px;
	    padding: 15px;
	}


	.row{

	    padding: 5px 5px; 
	    height: auto;
	    overflow: auto;
	}

	input
	{ padding: 5px; 
	  width: 150px; 
	  font: 100% arial; 
	  border: 1px solid #E5E5DB; 
	  background: #FFF; 
	  color: #47433F;}
	  
	 h3{
		  font-family:Helvetica, bold;
		  font-size:20px;
		  
	  }
	  
	  h4{
		  font-family:Helvetica;
		  font-size:20px;
	  }