@charset "utf-8";


#container {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#body {
    width:960px;
    height:500px;
    margin-top:50px auto;
}

.navbar {
    position:relative;
    list-style:none;
    border-bottom:none;
    float:left;
}

ul.navbar li {
    float:left;
}

ul.navbar a {
    margin:0px;
    padding:5px;
    text-decoration:none;
    color:#
}

ul.navbar a:hover {
    width:8em;
    margin:0px;
    background-color:#33FFD7;
    padding:5px;
}

body {
    background-color:##989898;
}

.bounding-box {
  background-image: url(file://localhost/Users/michelletacchi/Desktop/matacchi.github.io/final/IMG_0014.png);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.bounding-box {
  background-image: url(file://localhost/Users/michelletacchi/Desktop/matacchi.github.io/final/IMG_0028.png);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}