@charset "utf-8";


div.logo {
    height: 10em;
    position: relative }
div.logo p {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#container {
    margin-left:auto;
    margin-right:auto;
    width:2000px;
}

#body {
    width:2000px;
    height:500px;
    margin-top:50px auto;
}

.navbar {
    position:relative;
    list-style:none;
    border-bottom:none;
    float:left;
}

ul.navbar li {
    float:left;
}



body {
    background-color:#707070;
}

.bounding-box {
  background-image: <img src='IMG_0014.png' alt="chiclet"/>;
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.bounding-box {
  background-image: <img src= 'IMG_0028.png' alt= "whales"/>;
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}